---
// 1. Importez le Layout de base
import BaseLayout from "../layouts/BaseLayout.astro";

// 2. Importez les composants nécessaires
import ProjectCard from "../components/ProjectCard.astro";
import Container from "../components/Container.astro";
import Hero from "../components/Hero.astro";
import Divider from "../components/Divider.astro";

// 🔴 CRITIQUE : Importez la fonction de collection d'Astro
import { getCollection } from "astro:content";

// use a neutral placeholder instead (plus fiable)
const PlaceholderImage =
    "https://placehold.co/1600x900/efefef/111111.png?text=Placeholder";

// 🔴 RÉCUPÉRATION DYNAMIQUE DES DONNÉES DE LA COLLECTION 'projects'
const allProjects = (
    await getCollection("projects", ({ data }) => {
        // Filtre les brouillons
        return data.isDraft !== true;
    })
).sort((a, b) => {
    // Triez par date de publication (plus récent en premier)
    const dateA = new Date(a.data.publishDate).getTime();
    const dateB = new Date(b.data.publishDate).getTime();
    return dateB - dateA;
});
---

<BaseLayout title="[Votre Nom] - Portfolio UX Design">
    <main>
        <Container class="py-3xl px-lg flex flex-col gap-3xl">
            <Hero
                title="Hello, i'm Yassine 👋"
                subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
                profileImage={PlaceholderImage}
            />
            <Divider />

            <section
                id="projects"
                role="region"
                aria-label="Projects"
                class="flex flex-col space-y-3xl"
            >
                {
                    allProjects.map((project, index) => (
                        <>
                    
                            <ProjectCard
                                id={project.slug}
                                headline={project.data.title}
                                client={project.data.client}
                                description={project.data.description}
                                role={project.data.role}
                                projectLink={`/projects/${project.slug}`}
                                imageAlt={`Aperçu du projet ${project.data.title}`}
                                imageUrl={PlaceholderImage}
                                direction={
                                    index % 2 === 0 ? "reverse" : "default"
                                }
                            />
                           
                            {/* Ajoute un Divider après chaque carte sauf la dernière */}
                      
                            {index < allProjects.length - 1 && <Divider />}
                         
                            
                        </>
                    ))
                }
            </section>
        </Container>
    </main>
</BaseLayout>
