---
import Button from './Button.astro'; 

export interface Props {
  headline: string;
  client: string;
  description?: string;
  role: string;
  projectLink: string;
  imageAlt: string;
  imageUrl: any;
  direction?: 'default' | 'reverse';
  id?: string; // <-- new optional id prop
}

const {
  headline, client, description, role, projectLink, imageAlt,
  imageUrl,
  direction = 'default',
  id
} = Astro.props;

const directionClass = direction === 'reverse' ? 'md:flex-row-reverse' : ''; 
---

<article
  id={id ?? undefined}
  role="article"
  aria-label={headline}
  class={`flex flex-col md:flex-row gap-md md:gap-xl bg-background-primary ${directionClass} md:items-start`}>
 
  <h1 class="text-4xl font-extrabold text-text-body-primary md:hidden">
   {headline}
  </h1>

  <aside class="group flex-1 md:basis-1/2 relative rounded-2xl overflow-hidden aspect-[4/3] order-2 md:order-none">
   
   <img 
     src={imageUrl} 
     alt={imageAlt} 
     class="absolute inset-0 w-full h-full object-cover block rounded-2xl"
     loading="lazy"
    />
   </div>
   
  </aside>

  <section class="flex-1 md:basis-1/2 order-3 md:order-none space-y-lg">
   
   <h1 class="text-4xl font-extrabold text-text-body-primary hidden md:block mb-xl"> 
    {headline}
   </h1>

   <div class="space-y-lg"> 
    <div>
     <span class="block text-sm font-medium text-text-body-tertiary uppercase mb-xxs">Client / holder</span>
     <p class="text-base font-normal text-text-body-primary">
      {client}
     </p>
    </div>

    <div>
     <span class="block text-sm font-medium text-text-body-tertiary uppercase mb-xxs">Description</span>
     <p class="text-base font-normal text-text-body-primary leading-normal">
      {description}
     </p>
    </div>

    <div class="mb-xl"> 
     <span class="block text-sm font-medium text-text-body-tertiary uppercase mb-xxs">Role</span>
     <p class="text-base font-normal text-text-body-primary">
      {role}
     </p>
    </div>
   </div>
   <div>
    <Button href={projectLink}>
     View project
    </Button>
   </div>
  </section>
</article>